.nav-tabs .nav-link {
  border: none;
  color: var(--color-dark-1);
  font-size: 18px;
  font-weight: 500;
}
.nav-tabs .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}
.profile .card-title {
  color: #012970;
}
.profile .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}
.profile label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}
.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}
